.custom-select {
  //colors
  --main-color: #00171f;

  //border
  --border: 2px solid var(--main-color);
  --border-r: 10px;

  //background colors
  --bg: #fff;

  position: relative;
  width: 400px;
  max-width: 100%;
  font-size: 18px;
  color: var(--main-color);

  &.active {
    .arrow {
      transform: translateY(3px) rotate(180deg);
    }

    .select-button {
      border-bottom: none;
      border-radius: var(--border-r) var(--border-r) 0 0;
    }

    .select-dropdown {
      opacity: 1;
      visibility: visible;
      /* transform: scaleY(1); */
      border-top: none;
      border-radius: 0 0 var(--border-r) var(--border-r);
    }
  }
}

.select-button {
  width: 100%;
  font-size: 1.15rem;
  background-color: var(--bg);
  padding: 15px;
  border: var(--border);
  border-radius: var(--border-r);
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s cubic-bezier(.79,.14,.15,.86);
}

.selected-value {
  text-align: left;
}

.arrow {
  transition: transform 0.3s cubic-bezier(.79,.14,.15,.86);
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-r);
  max-height: 200px;
  overflow-y: auto;
  /* transform: scaleY(0); */
  opacity: 0;
  visibility: hidden;
  transition: border 0.3s cubic-bezier(.79,.14,.15,.86), opacity 0.3s cubic-bezier(.79,.14,.15,.86), visibility 0.3s cubic-bezier(.79,.14,.15,.86);

  li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;

    label {
      width: 100%;
      padding: 15px;
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }

/*   &:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
  } */
}
