.calculator {
  padding: 200px 0;

  &__title {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #fff;

    @include tablet {
      flex-direction: column;
    }
  }

  &__info {
    padding: 30px;
    width: 100%;

    &-title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.05em;
    }
  }

  &__description {
    margin-bottom: 20px;

    &-item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      @include small-tablet {
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &-text {
      width: 100%;
      max-width: 270px;

      @include small-tablet {
        margin-bottom: 10px;
        text-align: center;
      }
    }

    &-icons {
      svg {
        width: 20px;
        height: 20px;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }

  &__range {
    margin-bottom: 20px;

    &-title {
      margin-bottom: 40px;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.05em;
    }

    &-slider {
      border: none;
      border-radius: 12px;
      height: 8px;
      box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
      background-color: #33c5f3;

      .noUi-handle {
        right: -7px;
        top: -4px;
        border: 3px solid #33c5f3;
        border-radius: 100%;
        width: 16px;
        height: 16px;
        background-color: #fff;

        &::before,
        &::after {
          display: none;
        }
      }

      .noUi-connect {
        background-color: #ecf4f6;
      }

      .noUi-tooltip {
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.05em;
        color: #00171f;
        background-color: transparent;
      }
    }

    &-limit {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-item {
        margin-top: 5px;
        font-size: 12px;
        line-height: 15px;
        color: #96adb5;
      }
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    padding: 30px;
    width: 100%;
    max-width: 300px;
    background-color: #33c5f3;
    gap: 10px;

    &-group {
      font-size: 16px;
      color: #fff;
    }

    &-name {
      font-weight: 400;
    }

    &-value {
      font-weight: 700;
    }

    &-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      border: 2px solid #fff;
      border-radius: 10px;
      padding: 0 20px;
      height: 50px;
      min-width: 110px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      color: #fff;
      background-color: #33c5f3;
      transition: all 0.3s;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: #33c5f3;
        background-color: #fff;
      }
    }

    @include tablet {
      border-radius: 10px;
      max-width: 100%;
    }
  }

  &__selects {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @include small-tablet {
      flex-direction: column;

      &-group {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}
