<section class="calculator">
  <div class="container container__calculator">

    <h2 class="calculator__title">Рассчитать стоимость вывоза мусора</h2>
    <div class="calculator__wrapper">
      <div class="calculator__info">
        <h3 class="calculator__info-title">
          А много ли мусора?
        </h3>

        <div class="calculator__description">
          <div class="calculator__description-item">
            <p class="calculator__description-text">Панельный/блочный дом</p>
            <div class="calculator__description-icons">
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
            </div>
          </div>
          <div class="calculator__description-item">
            <p class="calculator__description-text">Кирпичный с одинарной рамой</p>
            <div class="calculator__description-icons">
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
            </div>
          </div>
          <div class="calculator__description-item">
            <p class="calculator__description-text">Кирпичный с двойной рамой</p>
            <div class="calculator__description-icons">
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
              <svg>
                <use xlink:href="img/sprite.svg#bag"></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="calculator__range">
          <h3 class="calculator__range-title">Какое количество демонтируемых окон?</h3>

          <div id="range-slider" class="calculator__range-slider"></div>
          <div class="calculator__range-limit">
            <span class="calculator__range-limit-item">1</span>
            <span class="calculator__range-limit-item">10</span>
          </div>
        </div>

        <div class="calculator__selects">
          <div class="calculator__selects-group">
            <div class="label">
              Место положения вашего дома
            </div>
            <div class="select">
              <div class="select__header">
                <div class="select__current">Москва</div>
                <div class="select__icon">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#arrow-down"></use>
                  </svg>
                </div>
              </div>

              <div class="select__body">
                <div class="select__item">Москва</div>
                <div class="select__item">до 5км от МКАД</div>
                <div class="select__item">до 10км от МКАД</div>
                <div class="select__item">до 15км от МКАД</div>
              </div>
            </div>
          </div>

          <div class="calculator__selects-group">
            <div class="label">
              Тип вашего дома?
            </div>

            <div class="select">
              <div class="select__header">
                <div class="select__current">Панельный/блочный дом</div>
                <div class="select__icon">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#arrow-down"></use>
                  </svg>
                </div>
              </div>

              <div class="select__body">
                <div class="select__item">Панельный/блочный дом</div>
                <div class="select__item">Кирпичный с одинарной рамой</div>
                <div class="select__item">Кирпичный с двойной рамой</div>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="calculator__total">
        <div class="calculator__total-group">
          <div class="calculator__total-name">Количество окон:</div>
          <div id="calculator__window-count" class="calculator__total-value">3</div>
        </div>

        <div class="calculator__total-group">
          <div class="calculator__total-name">Местоположение:</div>
          <div id="calculator__place" class="calculator__total-value">Москва</div>
        </div>

        <div class="calculator__total-group">
          <div class="calculator__total-name">Тип дома:</div>
          <div id="calculator__house-type" class="calculator__total-value">Панельный/блочный дом</div>
        </div>

        <div class="calculator__total-group">
          <div class="calculator__total-name">Итого:</div>
          <div id="calculator__total-price" class="calculator__total-value">4 345 ₽</div>
        </div>

        <button class="calculator__total-btn">Да, это нормально</button>
      </div>
    </div>
  </div>
</section>
