<div class="calculator__selects-group">
  <div class="label">
    Место положения вашего дома
  </div>
  <div id="calc-place-select" class="select">
    <div class="select__header">
      <div class="select__current">Москва</div>
      <div class="select__icon">
        <svg class="">
          <use xlink:href="img/sprite.svg#arrow-down"></use>
        </svg>
      </div>
    </div>

    <div class="select__body">
      <div class="select__item">Москва</div>
      <div class="select__item">до 5км от МКАД</div>
      <div class="select__item">до 10км от МКАД</div>
      <div class="select__item">до 15км от МКАД</div>
    </div>
  </div>
</div>
