<section class="tabs">
    <div class="container">
        <h2 class="section-title">Табы с прокруткой (Вертикальные)</h2>

        <div class="tabs-slider swiper">
            <ul class="tabs-list swiper-wrapper">
                <li class="tabs-item swiper-slide">рандом</li>
                <li class="tabs-item swiper-slide">рандом рандомный</li>
                <li class="tabs-item swiper-slide">ну рандом</li>
                <li class="tabs-item swiper-slide">как бы рандом</li>
                <li class="tabs-item swiper-slide">не рандом</li>
                <li class="tabs-item swiper-slide">вообще рандом</li>
            </ul>
        </div>

        <div class="tabs-content">
            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/1.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/2.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/3.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/4.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/5.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/6.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tabs">
    <div class="container">
        <h2 class="section-title">Табы с прокруткой (горизонтальные)</h2>

        <div class="tabs-slider swiper">
            <ul class="tabs-list swiper-wrapper">
                <li class="tabs-item swiper-slide">рандом</li>
                <li class="tabs-item swiper-slide">рандом рандомный</li>
                <li class="tabs-item swiper-slide">ну рандом</li>
                <li class="tabs-item swiper-slide">как бы рандом</li>
                <li class="tabs-item swiper-slide">не рандом</li>
                <li class="tabs-item swiper-slide">вообще рандом</li>
            </ul>
        </div>

        <div class="tabs-content">
            <div class="tabs-content__item tabs-content__item--h">
                <img class="tabs-content__item-img" src="/img/tabs/1.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item tabs-content__item--h">
                <img class="tabs-content__item-img" src="/img/tabs/2.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item tabs-content__item--h">
                <img class="tabs-content__item-img" src="/img/tabs/3.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item tabs-content__item--h">
                <img class="tabs-content__item-img" src="/img/tabs/4.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item tabs-content__item--h">
                <img class="tabs-content__item-img" src="/img/tabs/5.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item tabs-content__item--h">
                <img class="tabs-content__item-img" src="/img/tabs/6.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tabs">
    <div class="container">
        <h2 class="section-title">Табы с прокруткой (< триггеров)</h2>

        <div class="tabs-slider swiper">
            <ul class="tabs-list swiper-wrapper">
                <li class="tabs-item swiper-slide">рандом</li>
                <li class="tabs-item swiper-slide">рандом рандомный</li>
                <li class="tabs-item swiper-slide">ну рандом</li>
                <li class="tabs-item swiper-slide">как бы рандом</li>
            </ul>
        </div>

        <div class="tabs-content">
            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/1.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/2.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/3.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>

            <div class="tabs-content__item">
                <img class="tabs-content__item-img" src="/img/tabs/4.jpg" alt="">

                <div class="tabs-content__item-info">
                    <h4 class="tabs-content__item-title">
                        Title
                    </h4>

                    <p class="tabs-content__item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tabs tabs--noslider">
    <div class="container">
        <h2 class="section-title">Табы переходяшие в слайдер</h2>

        <ul class="tabs-list">
            <li class="tabs-item active">рандом</li>
            <li class="tabs-item">рандом рандомный</li>
            <li class="tabs-item">ну рандом</li>
            <li class="tabs-item">как бы рандом</li>
            <li class="tabs-item">не рандом</li>
            <li class="tabs-item">вообще рандом</li>
        </ul>

        <div class="content-slider swiper">
            <div class="tabs-content swiper-wrapper">
                <div class="tabs-content__item swiper-slide">
                    <img class="tabs-content__item-img" src="/img/tabs/1.jpg" alt="">
    
                    <div class="tabs-content__item-info">
                        <h4 class="tabs-content__item-title">
                            Title
                        </h4>
    
                        <p class="tabs-content__item-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                        </p>
                    </div>
                </div>
    
                <div class="tabs-content__item swiper-slide">
                    <img class="tabs-content__item-img" src="/img/tabs/2.jpg" alt="">
    
                    <div class="tabs-content__item-info">
                        <h4 class="tabs-content__item-title">
                            Title
                        </h4>
    
                        <p class="tabs-content__item-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                        </p>
                    </div>
                </div>
    
                <div class="tabs-content__item swiper-slide">
                    <img class="tabs-content__item-img" src="/img/tabs/3.jpg" alt="">
    
                    <div class="tabs-content__item-info">
                        <h4 class="tabs-content__item-title">
                            Title
                        </h4>
    
                        <p class="tabs-content__item-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                        </p>
                    </div>
                </div>
    
                <div class="tabs-content__item swiper-slide">
                    <img class="tabs-content__item-img" src="/img/tabs/4.jpg" alt="">
    
                    <div class="tabs-content__item-info">
                        <h4 class="tabs-content__item-title">
                            Title
                        </h4>
    
                        <p class="tabs-content__item-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                        </p>
                    </div>
                </div>
    
                <div class="tabs-content__item swiper-slide">
                    <img class="tabs-content__item-img" src="/img/tabs/5.jpg" alt="">
    
                    <div class="tabs-content__item-info">
                        <h4 class="tabs-content__item-title">
                            Title
                        </h4>
    
                        <p class="tabs-content__item-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                        </p>
                    </div>
                </div>
    
                <div class="tabs-content__item swiper-slide">
                    <img class="tabs-content__item-img" src="/img/tabs/6.jpg" alt="">
    
                    <div class="tabs-content__item-info">
                        <h4 class="tabs-content__item-title">
                            Title
                        </h4>
    
                        <p class="tabs-content__item-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate! Distinctio nemo saepe perferendis, esse nostrum aliquam. Corporis asperiores et voluptatum commodi fuga veniam, quod sed libero facere, repellat illum?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

